@use './colors' as colors;

:root {
	scroll-padding-top: 80px;
}

body {
	font-family: 'Roboto', sans-serif;
	color: colors.$white;
	background-color: colors.$bgc;
	font-size: 2.4rem;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

//header
.header {
	//nav
	.nav {
		.nav-bar {
			position: fixed;
			display: flex;
			flex-direction: column;
			padding-top: 2em;
			height: 100vh;
			width: 25rem;
			left: -25rem;
			list-style: none;
			background-color: colors.$white;
			transition: transform 0.3s;

			a:nth-child(2) {
				color: colors.$main;
			}
		}
		.burger {
			position: fixed;
			top: 0;
			left: 0;
			padding: 0.4em 0.8em;
			font-size: 3.6rem;
			background: none;
			border: none;
			cursor: pointer;
			color: colors.$white;
			transition: transform 0.3s;
		}
		.active {
			transform: translateX(25rem);
		}

		.hide {
			display: none;
		}
		.navbar-brand {
			align-self: center;
			margin-bottom: 1em;
			font-size: 4.8rem;
			color: colors.$main;
		}
		.nav-link {
			padding: 0.4em 1.2em;
			color: #333;
			text-decoration: none;
			text-transform: uppercase;
		}
		.nav-link:hover {
			color: colors.$main;
		}
	}

	.header-bg {
		position: relative;
		height: 100vh;
		background-image: url(../img/background-small.jpg);
		background-size: cover;
		background-position: 60% 50%;
		background-attachment: fixed;
		z-index: -1;

		.header-shadow {
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.8);
			z-index: -10;
		}
		.header-text {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			height: 100%;
			padding: 2em;
			text-align: center;
			color: colors.$white;
			font-size: 2rem;
			z-index: 5;

			::first-letter {
				text-transform: uppercase;
			}
			.header-span {
				color: colors.$main;
			}
		}
	}
}

//main

.main {
	.section {
		min-height: 100vh;
	}
	.section-title {
		margin: 1em 2em;
		padding-left: 0.5em;
		border-left: 5px solid colors.$main;
		.section-span {
			color: colors.$main;
		}
	}

	.section-title::first-letter {
		text-transform: uppercase;
	}
	.section-box {
		margin: 2em;
	}
	.section-text {
		padding: 0 1em;
	}

	.objectives {
		margin-top: 1em;
		// background-color: colors.$bgc2;
		.objectives-bg {
			position: relative;
			background-image: url();
			color: colors.$white;
			background-position: center;
			background-size: cover;
			background-attachment: fixed;
			z-index: 0;
		}
		.section-title {
			padding-bottom: 0;
		}
		.objectives-cards {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			.objective-card {
				position: flex;
				width: 100%;
				max-width: 300px;
				padding: 1em 2em;
				text-align: center;
				.card-icon {
					align-self: center;
					color: colors.$main;
				}

				.objective-card-title {
					text-transform: capitalize;
				}
			}
		}
	}
	.skills {
		.section-box {
			display: flex;
			justify-content: center;
			align-items: center;
			.skill-icon {
				font-size: 10rem;
				padding: 0.2em;
			}
		}
	}
}

.footer {
	padding: 1em;
	border-top: 1px solid colors.$white;
	text-align: center;
}
